<mat-toolbar color="primary">
  <span class="example-fill-remaining-space"></span>
  <span class="title">Real Estate Client Application</span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center">
  <mat-card
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
    style="margin: 20px"
    *ngFor="let realestate of realestates"
  >
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span>{{ realestate.constructor.name }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      {{ realestate.location }}
    </mat-card-subtitle>
    <mat-card-content>
      <b>Rooms:</b> {{ realestate.rooms }} <br />
      <b>Squaremeter:</b> {{ realestate.squaremeter }} <br />
      <b>Garden Squaremeter:</b> {{ realestate.garden_squaremeter }} <br />
      <b>Parkinglots:</b> {{ realestate.num_of_parkinglots }} <br />
      <b>Price:</b> {{ realestate.price }} €
    </mat-card-content>
  </mat-card>
</div>
